.users{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 80px;
}


.users > table{
    width:100%;
    text-align: center;
    height:auto;
    border:1px solid;
    border: none ;
}

.users > table > thead {
   color:white;
}

th{
    background-color: rgb(93, 93, 93);
    height: 30px;
}

tr{
    background-color: aliceblue;
}

td{
    color:black;
    font-size: medium;
    padding: 5px;
    
}



@media screen and (max-width: 768px) {
  .users {
    margin: 40px 20px;
  }

  .users > table {
    font-size: small;
  }

  th {
    height: 20px;
  }

  tr {
    background-color: white;
  }

  td {
    font-size: small;
    padding: 3px;
  }
}
